<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corn JWT</title>
</head>
<body>
    <h1>Here is your corn JWT and user ID</h1>
    <h3>Always Remember...</h3>
    <p>"Corn is the leading food and feed crop of the United States <br>
        in geographic range of production, acreage, and quantity of product. <br>
        The vital importance of a large acreage of this crop, properly cared for, <br>
        therefore, is obvious." <br>
        - David F. Houston
    </p>

    <p><b>JWT: </b><%= data.jwt %></p>
    <p><b>User ID: </b><%= data.sub %></p>
</body>
</html>