<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Get a Corn JWT</title>
    </head>

    <body>
        <span>
            <h1>Click the button to get your corn JWT</h1>
            <button style="position: absolute" onclick="startAuth()">Corn</button>
        </span>
        <img src="images/Happy-Corn-clipart-transparent.png" alt="This is corn">
        <script src="js/redirect.js"></script>
    </body>
</html>